{% extends './base.html' %}

{% block content %}
      <form class='container__form' method="post">
        {% csrf_token %}
        {% if messages %}
            <div class="messages" style="background-color: tomato; padding: 20px 35px;">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <input type='text' name='username' placeholder='Username' class='container__inputField'>
        <input type='password' name='password' placeholder='Password' class='container__inputField'>
        <br>
        <input type='submit' value='Login' class='container__sumbitButton'>
      </form>
      <div class='container__links'>
        <a href='{% url "register_attempt"%}' class='container__link'>Register</a>
      </div>

{% endblock %}