<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <p class="text-center">Select course for MCQ's</p>

        <div class="row">
            {% for course in courses %}
            <div class="col-lg-3">
    
                <a href="/{{course.id}}" class="btn btn-primary">{{course.course_name}}</a>
            </div>  
            {% endfor %}
        </div>
      </div>

  </body>
</html>